 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
    scroll-behavior: smooth;
  }

 .banner-container {
     position: relative;
 }

 .banner-img::before {
     content: '';
     position: absolute;
     width: 100%;
     background: rgba(35, 37, 39, 0.5);
     height: 100vh;
 }

 .banner-img {
     background-image: url("../assets/rsz_1home-page-1.jpg");
     width: 100%;
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     overflow: hidden;
     position: relative;
 }

 .header-content {
     width: 100%;
     height: 100px;
     position: absolute;
     top: 0;
     margin-left: 0 !important;
     margin-right: 0 !important;
     color: #fff;
 }

 .logo-content {
     width: 25%;
     float: left;
 }

 .logo {
     height: 90px;
     padding: 5px 0 5px 15px;
 }

 .top-nav-content {
     width: 50%;
     float: left;
     text-align: center;
     padding: 30px 0;
 }

 .top-nav {
     font-size: 24px;
     text-transform: capitalize;
     color: #fff;
     padding: 0 20px;
 }

 .top-nav:hover {
     color: #54d2e9;
     text-decoration: none;
 }

 .menu-icon {
     display: none;
     width: 25%;
     padding: 30px 0;
     font-size: 24px;
     text-align: right;
 }

 .banner-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .baneer-text {
     color: #fff;
     font-size: 18px;
 }

 .social-icon {
     color: #fff;
     padding: 15px;
     font-size: 25px;
     border-radius: 50%;
 }

 .social-icon:hover {
     color: #54d2e9;
     text-decoration: none;
     background: #fff;
 }

 .closebtn {
     display: none;
 }

 .test-container {
     padding: 60px;
     background-color: #1A2328;
 }

 .tast-img {
     width: 100%;
     height: 530px;
 }

 .img-responsive,
 .address-img,
 #googleMap {
     width: 100%;
     height: 530px;
     border-radius: 20px;
 }

 .slides-container {
     background-color: #1A2328;
     text-align: center;
 }

 .cuntry-title,
 .restaurant-title {
     color: #fff;
     text-transform: capitalize;
     font-size: 48px;
 }

 .cuntry-paragrap,
 .restaurant-paragrap {
     color: #fff;
     text-transform: capitalize;
     font-size: 20px;
     padding-top: 15px;
 }

 .slides-container,
 .restaurant-container,
 .footer-container {
     margin-top: -1px;
 }

 .slides-content {
     padding: 0 0 50px;
     width: 75%;
     margin: 0 auto;
 }

 .mySlides {
     display: none;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 550px;
     border-radius: 20px;
 }

 .restaurant-container {
     background-color: #1A2328;
     padding: 10px 60px 60px;
     text-align: center;

 }

 .restaurant-imgs {
     display: flex;
 }

 .restaurant-img-1,
 .restaurant-img-2,
 .restaurant-img-3 {
     width: 33%;
     height: 470px;
     margin: 10px;
     border-radius: 15px;
     background-position: center;
     background-size: cover;
 }

 .restaurant-img-1 {
     background-image: url("../assets/rsz_home-page-7.jpg");
 }

 .restaurant-img-2 {
     background-image: url("../assets/rsz_home-page-10.jpg");
 }

 .restaurant-img-3 {
     background-image: url("../assets/rsz_home-page-7.jpg");
 }

 .footer-container {
     background-color: #000;
     padding: 60px;
     overflow: hidden;
 }

 @media only screen and (max-width: 992px) {
     .top-nav-content {
         height: 100%;
         width: 0;
         position: fixed;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: rgb(0, 0, 0);
         background-color: rgba(0, 0, 0, 0.9);
         overflow: hidden;
         transition: 0.5s;
     }

     .top-nav-list {
         position: relative;
         top: 25%;
         width: 100%;
         text-align: center;
         margin-top: 30px;
     }

     .top-nav {
         padding: 15px 0;
         text-decoration: none;
         font-size: 36px;
         color: #fff;
         display: block;
         transition: 0.3s;
     }

     .footer-container .address-img {
         margin-top: 0;
     }

     .footer-container .tast-img {
         margin-top: 55px;
     }

     .top-nav:hover,
     .top-nav:focus,
     .closebtn:hover,
     .closebtn:focus {
         color: #f1f1f1;
         text-decoration: none;
     }

     .logo-content {
         width: 50%;
     }

     .menu-icon {
         width: 50%;
         float: left;
         display: block;
     }

     .fa-bars {
         margin-right: 30px;
         font-size: 32px !important;
     }

     .closebtn {
         display: block;
         color: #fff;
         position: absolute;
         top: 20px;
         right: 45px;
         font-size: 60px;
     }

     .banner-content {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
     }

     .img-responsive,
     .address-img,
     .mySlides,
     #googleMap {
         height: 450px;
     }

     .tast-img {
         height: 450px;
     }

     .tast-text {
         padding-top: 50px;
     }

     .address-img {
         margin-top: 55px;
     }

     .slides-content {
         width: 100%;
         padding: 0 20px 50px;
         margin: 30px 0 0;
     }

     .restaurant-imgs {
         display: unset;
     }

     .restaurant-img-1,
     .restaurant-img-2,
     .restaurant-img-3 {
         width: 100%;
         padding: 0;
         margin: 55px 0;
         border-radius: 20px;
         height: 450px;
     }

     .map {
         margin-top: 55px;
     }

     @media only screen and (max-width: 767px) {
         .banner-content {
             position: absolute;
             top: 50%;
             left: 10%;
             transform: translate(-6%, -50%);
         }

         .test-container {
             padding: 15px;
         }


         .address-img {
             margin-top: 15px;
         }

         .slides-content {
             width: 100%;
             padding: 0 0px 15px;
             margin: 15px 0 0;
         }

         .restaurant-container {
             padding: 10px 15px 15px;
         }

         .restaurant-img {
             margin: 8px 0;
         }

         .footer-container {
             padding: 15px;
         }

         .footer-container .tast-img {
             margin-top: 15px;
         }
     };
 };