* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.order-banner {
    background-image: url("../assets/home-page-8.jpg");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.order-banner::before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(35, 37, 39, 0.65);
    height: 60vh;
}

.order-online {
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
}

.order-container {
    padding: 50px 100px;
    position: relative;
}

#orderMemu {
    width: 15%;
    float: left;
    position: absolute;
}

#orderMemu.menu-scroll {
    position: fixed;
    top: 5%;
}

.order-menu-title {
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    border-bottom: 1px solid #888;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 5px 0;
}

.order-list {
    color: #888;
    text-transform: capitalize;
}

.order-list:hover {
    color: #f8c12e;
    text-decoration: none;
}

#listingCards {
    width: 50%;
    float: left;
    top: 50%;
    margin-left: 20%;
}

.section-header {
    width: 40%;
    height: 100px;
}

.shop-items {
    padding: 10px 0;
    margin-right: 15px;
    display: flex;
}

.shop-item {
    width: 70%;   
}

.shop-item-details {
    width: 30%;
    margin: auto;
}

.shop-item-title {
    display: block;
}

.shop-item-paragrap {
    margin: 10px 0;
}

.shop-item-button {
    padding: 0 .75rem !important;
}

.shop-item-price {
    margin-right: 20px;
}

.card-conatiner {
    margin: 10px;
}

.card-menu {
    vertical-align: middle;
}

.card-user-id,
.card-id,
.card-title,
.card-body {
    padding: 10px;
}

.card-title {
    font-size: 22px;
}

.your-order {
    width: 35%;
    margin-left: 70%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #eee;
}

.card-header-secotion {
    text-transform: capitalize;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 25%;
}

.cart-item-title {
    color: #333;
    font-size: 1em;
    overflow-wrap: anywhere;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 15px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 20px auto;
    font-size: 1.75em;
}

@media only screen and (max-width: 992px) { 
    .order-container {
        padding: 50px 25px;
    }

    #listingCards {
        margin-left: 15%;
        width: 45%;
    }

    .section-header {
        width: 65%;
    }

    .shop-item {
        width: 80%;
    }

    .shop-item-details{
        width: 20%;
        text-align: center;
    }

    .shop-item-price {
        margin-right: 0;
    } 

    .your-order {
        margin-left: 60%;
        width: 40%;
    }

    .cart-item {
        width: 30%;
    }

    @media only screen and (max-width: 767px) {
        #orderMemu {
            display: none;
        }

        .your-order {
            order: 1;
            position: unset;
            width: 100%;
            margin-left: 0;
            display: flex;
        }

        .order-container {
            padding: 0 0 15px 0;
            display: grid;
        }

        #listingCards {
            order: 2;
            position: unset;
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
    };
};